extends layout

block content
  div.top
    h1=title
    p  Check out who has been dancing their way to the top!!

    // form.form-horizontal(method="post", id="loginForm")
    //   label Username
    //   input.span3(id="username", type="text", name="User", placeholder="Enter your username")
    //   label Password
    //   input.span3(id="password", type="password", name="Password")
    //   input.btn(type="submit", value="Log In")
  div.container
    div.content
      table.table.table-striped
        thead
            tr
                th #
                th First Name
                th Last Name
                th Score
        tbody
            each item, i in data
                tr
                    td= i+1
                    td= item.firstName
                    td= item.lastName
                    td= item.score
        
  div.footer