extends layout

block content
  meta(http-equiv="refresh", content="14.5")
  div.top
   
  
  div.carousel.slide(id="myCarousel",data-ride="carousel")
    div.carousel-inner(role="listbox")
        div(class="item active")
          h1=title
          table.table-responsive
            table.table.table-striped
                        thead
                            tr
                                th #
                                th First Name
                                th Last Name
                                th Score
                        tbody
                            each item, i in data
                                tr
                                    td= i+1
                                    td= item.firstName
                                    td= item.lastName
                                    td= item.score                            
         div(class="item")
            h1 Come Dance with us! 
            img(src="https://media.giphy.com/media/4ci8d3rJNrdAY/giphy.gif", style="height:100%")
         div(class="item")
            img(src="https://dl.dropboxusercontent.com/s/p6tureoujg6runj/apis.PNG?dl=0", style="height:100%")
    a.left.carousel-control(class="left carousel-control", href="#myCarousel", data-slide="prev")

    a.right.carousel-control(class="right carousel-control", href="#myCarousel", data-slide="next")
    
    img(src="https://dl.dropboxusercontent.com/s/563zp62sbyld8tu/MSFT_logo_rgb_C-Gray.png?dl=0",style="height:9%; margin-left: 1000px;")